.Header {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    height: 400px;
    position: relative;
}

.vertical-center {
    margin: 0%;
    padding-top: 60px;
    position: center;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left: 50px;

}



.h2 {
    text-align: center;
    height: auto;
}